.contenedor{
	background-color: white;
    color: white;
    font:italic;
    margin: 0 auto;
	height: 200px;
    width: 1600px;
	display: flex;
    border-style:solid;
    border-color: black;
	flex-wrap: nowrap;
    flex-direction:row;
	/*align-content: flex-start;*/
	align-content: flex-end;
    align-items: center;
	align-content: center;
    justify-content: space-between;
}

body {
    width: 200PX;
    height: 200PX;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


.item1{
	background-color: #f00c0c;
	font-size: 30px;
}

.item2{
	background-color: #1635e4;  
	font-size: 30px;
}

.item3{
	background-color: #08a508;
	font-size: 30px;
}